body, html{
    margin: 0%;
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(21, 2, 2);
    font-family: 'Signika', sans-serif;
}



.bg-img{
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-img-1{
    background-image: url('model-3.jpg');
    min-height: 100%;
}



.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(18, 18, 18, 0.323);
    padding: 15px 3vw;
    z-index: 100;
}

.logo{
    width: 150px;
    height: 40px;
}

.logo img{
    width: 100%;
    height: 100%;
}

.nav{
    display: flex;
    gap: 1vw;
}

.side-nav{
    display: flex;
    gap: 2vw;
}

.nav a, .side-nav a{
    text-decoration: none;
    font-size: 20px;
    padding: 8px .5vw;
}

.txt{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

.txt-1{padding-top: 100px;}
.txt h2{font-size: 40px;}
.txt p{font-size: 20px;}

.btn{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    position: absolute;
    bottom: 70px;
}

.btn button{
    border: none;
    background-color: rgb(235, 233, 233);
    color: rgb(18, 1, 1);
    font-size: 20px;
    padding: 8px 24px;
    cursor: pointer;
    border-radius: 3px;
    transition: .1s;
}

.btn button:hover{opacity: .9;}

.bg-img-2{
    background-image: url('https://digitalassets.tesla.com/tesla-contents/image/upload/h_1800,w_2880,c_fit,f_auto,q_auto:best/Homepage-Model-X-Desktop-LHD');
    min-height: 100%;
}

.bg-img-3{
    background-image: url('https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-S-Desktop-LHD-6.22.jpg');
    min-height: 100%;
}

.bg-img-4{
    background-image: url('https://digitalassets.tesla.com/tesla-contents/image/upload/h_2400,w_2880,c_fit,f_auto,q_auto:best/Homepage-Model-Y-Global-Desktop');
    min-height: 100%;
}

.bg-img-5{
    background-image: url('solar-roof.jpg');
    min-height: 100%;

}



.bg-img-6{
    background-image: url('https://digitalassets.tesla.com/tesla-contents/image/upload/h_1800,w_2880,c_fit,f_auto,q_auto:best/425_HP_SolarPanels_D');
    min-height: 100%;
}

.bg-img-7{
    background-image: url('https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Accessories-Desktop-NA-APAC.jpg');
    min-height: 100%;


}
.bg-img-0{
    background-image: url('https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Powerwall-Desktop.jpg');
    min-height: 100%;

}

.txt-2 h2{color: black;}

.btn-1 button{
    background-color: black;
    color: white;
}

footer{
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 20px 0;
    font-size: 20px;
}

.laptop-nav, .openbtn
{display: none;}

